.mainC {
  .main-content {
    margin-top: 97px;
    &__top {
      background-image: url(../../assets/images/contactBanner.jpg);
      background-position: center;
      -webkit-background-size: 100%;
      -webkit-background-size: cover;
      -moz-background-size: 100%;
      -moz-background-size: cover;
      background-size: 100%;
      background-size: cover;
      &__title {
        padding: 60px 0;
        font-weight: 700;
        font-size: 25px;
        color: var(--mainActiveText);
      }
    }

    .contact {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 50px;
      .details {
        width: 40%;
        .location-box {
          margin-bottom: 10px;
          text-align: left;
          padding: 13px 15px 1px 15px;
          background-color: var(--secondBacground);
           a {
            color: inherit;
           }
        }
      }
      .map {
        width: 60%;
        padding-left: 30px;
      }
    }
    .who {
      p {
        margin-bottom: 20px;
        margin-top: 30px;
      }
      > p {
        margin-bottom: 40px;
      }
    }
    .det {
      display: flex;
    }
    .c1 {
      width: 60%;
      display: inline-block;
      position: relative;
      float: left;
      min-height: 200px;
      .img1 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 20px 70px 0px #262a4c26;
        animation-name: fadeInLeftBig;
        animation-duration: 900ms;
        animation-fill-mode: both;
      }
      .img2 {
        position: relative;
        margin-top: 16%;
        left: 10%;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 20px 70px 0px #262a4c26;
        animation-name: fadeInUp;
        animation-duration: 1000ms;
        animation-fill-mode: both;
      }

      // &:after{
      //   content: "";
      //   position: absolute;
      //   width: calc(100% + 5px);
      //   height: calc(100% + 5px);
      //   top: -10px;
      //   left: -10px;
      //   background-color: var(--mainActiveBacground);
      //   z-index: -1;
      // }
      img {
        width: 80%;
        height: auto;
      }
    }
    .c2 {
      width: 40%;
      display: inline-block;
      .fa {
        color: var(--mainActiveBacground);
        margin-right: 10px;
      }
      h1 {
        font-size: 16px;
        color: var(--mainActiveBacground);
        font-weight: 600;
      }
      p {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    .aboutDetils {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 20px;
      position: relative;
      padding: 10px 20px;
      &__detail {
        margin: 15px 0px 15px 0px;
      }
      &:after {
        content: "";
        position: absolute;
        background-image: url(../../assets/images/backgroundI2.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
      }

      h1 {
        font-size: 16px;
        color: var(--mainActiveBacground);
        font-weight: 600;
        margin-block-end: 5px;
      }
    }
  }
}
.fixedH {
  .main-content {
    margin-top: 0;
  }
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 390px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 342px;
  iframe {
    width: 100%;
  }
}
.about {
  .tit {
    color: var(--mainActiveBacground);
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;

      left: 50%;
      bottom: -5px;
      margin-left: -35px;
      width: 70px;
      height: 4px;
      background-color: var(--mainActiveBacground);
    }
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 1024px) {
  .mainC .main-content {
     .det {
      flex-direction: column;
  }
    .c1 {
      width: 100%;
    }
    .c2 {
      width: 100%;
    }
    .aboutDetils {
      width: 100%;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0px 5px;
    }
    .contact {
      display: block;
      .location-box {
        margin-bottom: 10px !important;
      }
    }
    .details,
    .map {
      width: 100% !important;
      padding-left: 0 !important;
    }
  }
}
