.mainC {
  .main-content {
    margin-top: 97px;
    &__top {
      background-image: url(https://us.123rf.com/450wm/krzysztof12/krzysztof121904/krzysztof12190400178/121753166-lights-of-cars-with-night.jpg?ver=6);
      background-position: center;
      -webkit-background-size: 100%;
      -webkit-background-size: cover;
      -moz-background-size: 100%;
      -moz-background-size: cover;
      background-size: 100%;
      background-size: cover;
      &__title {
        padding: 50px 0;
        font-weight: 700;
        font-size: 25px;
        color: var(--mainActiveText);
      }
    }
    // .description {

    // }
  }
}
.fixedH {
  .main-content {
    margin-top: 0;
  }
}
