body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color:var(--mainText);
    background-color: var(--mainBacground); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centerContent {
  max-width: 1080px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.addShadow {
  background-color: rgba(0, 0, 0, 0.28);
}

.center {
  text-align: center;
}